.element__like {
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  height: 100%;
  border: none;
  align-self: center;
  justify-self: center;
  background-image: url('../../../images/like.svg');
  background-color: transparent;
  cursor: pointer;
}

.element__like:active {
  background-image: url('../../../images/activeLike.svg');
}

.element__like:hover {
  opacity: 0.5;
}