.popup__button-close {
  background-image: url('../../../images/—ÅloseIcon.svg');
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  border: none;
}

@media screen and (max-width: 500px) {
  .popup__button-close {
    right: 0px;
    top: -36px;
    max-width: 20px;
    min-height: 20px;
  }
}