.popup__button-close{
  background-image: url('../../../images/сloseIcon.svg');
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
}