.profile__avatar{
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  margin-right: 30px;
}
@media screen and (max-width: 910px) {
  .profile__avatar{
    display: block;
    align-items: center;
    margin: 0 auto;
  }
}